* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --gray-light: rgb(237,237,238);
  --gray-mid: rgb(87,87,87);
  --gray-dark: rgb(39,42,50);
  --white: rgb(255, 255, 255);
  --orange: rgb(239,81,60);
}

.header {
  background-image: url('./../img/header.jpg');
  background-color: var(--gray-light);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 1px 20px;
  background-color: var(--gray-light);
}

.openNav {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--orange);
}

.closeIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  color: #fff;
}

.openNav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-top: 60px;
}

.openNav ul li {
  list-style: none;
}

.openNav ul li a {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.navbar {
  display: none;
  background-color: var(--white);
}

#menu {
  font-size: 22px;
  margin: 20px;
}

#menuAbout {
  font-size: 22px;
  margin: 20px;
}

.header--content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.header--content--about {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.header--content--title {
  display: flex;
  flex-direction: column;
  color: var(--orange);
  background-color: rgba(237,237,238, 0.6);
  width: 100vw;
  padding: 1px 30px;
}

.header--content--title--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--orange);
  background-color: rgba(237,237,238, 0.6);
  width: 100vw;
  padding: 1px 30px;
}

.header--content--title--greet {
  display: flex;
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

.header--content--title--main {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.header--content-main--about {
  text-align: center;
  margin: 30px;
  padding: 20px;
  background-color: var(--white);
  color: var(--gray-dark);
  font-family: 'lato', Arial, Helvetica, sans-serif;
}

.header-content-main-contact {
  text-align: center;
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--gray-dark);
}

.header-content-main-contact a {
  color: var(--gray-dark);
  font-weight: bold;
  font-family: 'lato', Arial, Helvetica, sans-serif;
}

.header--content--main {
  background-color: rgba(237,237,238, 0.6);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.header--content--text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-light);
  width: 90%;
}

.header--content-location {
  background-color: var(--gray-light);
  width: 90%;
  padding: 10px 10px;
  margin-top: 20px;
}

.header--content--text--paragraph {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: var(--gray-light) ;
  border: solid 2px var(--white);
  align-self: center;
}

.header--content--time {
  color: var(--gray-dark);
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 15px;
}

.header--content--address {
  color: #222;
  font-family: 'lato', Arial, Helvetica, sans-serif;
}

.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-dark);
  background-image: url('./../img/back2.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.programs--title {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--white);
}

.borderLine {
  content: '';
  height: 1px;
  width: 50px;
  background-color: var(--orange);
  margin-bottom: 40px;
}

.programCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--gray-light);
  opacity: 0.7;
  height: 80px;
  gap: 15px;
  margin-bottom: 10px;
  width: 90%;
}

.programCard i {
  margin-left: 10px;
  color: var(--orange);
  font-size: 22px;
  font-weight: bold;
}

.programCard--title {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  width: 80px;
  font-size: 18px;
  font-weight: bold;
  color: var(--orange);
}

.programCard--text {
  width: 240px;
  flex: 1;
}

.programs--button {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--orange);
  color: white;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.speakers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
}

.speakers--title {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.speakerCard {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.speakerCard--imageContainer {
  width: 100%;
  height: 100%;
  background-image: url('./../img/speaker_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.speakerCard--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 2;
}

.speakerCard--content--title {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.speakerCard--content--textOne {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--orange);
}

.borderLine2 {
  height: 1px;
  width: 20px;
  background-color: var(--gray-dark);
  margin-top: 5px;
  margin-bottom: 5px;
}

.speakerCard--content--textTwo {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.speakers--button {
  text-decoration: none;
  color: var(--gray-dark);
  padding: 10px 1px;
  width: 100%;
  text-align: center;
  border: solid 1px var(--gray-dark);
  margin-bottom: 40px;
}

.speakers--button i {
  color: var(--orange);
  margin-left: 5px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-dark);
}

.partners--title {
  margin-top: 20px;
  color: var(--white);
}

.partners--items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 50px;
}

.partners--items i {
  color: var(--gray-light);
  font-size: 36px;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.footer--left {
  flex: 1;
  height: 100%;
  background-image: url('./../img/creative.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer--right {
  flex: 1;
}

.footer--right--text {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  border-top: solid 2px var(--gray-mid);
  padding: 30px;
}

.logo--title {
  font-family: 'lato', Arial, Helvetica, sans-serif;
}

.logo--text {
  font-family: 'lato', Arial, Helvetica, sans-serif;
}

.logo--img {
  background-image: url('./../img/creative.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  width: 400px;
  margin-top: 40px;
  border: solid 2px var(--gray-light);
  margin-bottom: 40px;
}

.pastSummits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.pastSummits--title {
  font-family: 'lato', Arial, Helvetica, sans-serif;
}

.pastSummits--text {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.pastSummits--img1 {
  background: linear-gradient(0deg,rgba(239,81,60, 0.5), rgba(239,81,60, 0.5)) , url('./../img/back.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.pastSummits--img2 {
  background: linear-gradient(0deg,rgba(239,81,60, 0.5), rgba(239,81,60, 0.5)) , url('./../img/back2.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  text-align: center;
}

.pastSummits--year {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--gray-dark);
}

.pastSummits--location {
  font-family: 'lato', Arial, Helvetica, sans-serif;
  color: var(--gray-dark);
}
